<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_quiz"
        android:label="@string/quizappname"
        android:roundIcon="@mipmap/ic_quiz_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsGo">

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FinishActivity"
            android:exported="false"
            android:noHistory="true" />

        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".LogInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>